<#@ template visibility="internal" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#= Visibility #> <# if(IsVirtual) { Write("virtual "); } #><#= Type #> <#= Name #> { get; <# if(IsSetterPrivate) { Write("private "); }#>set; }